@{
    ViewData["Title"] = "Book";
}
<script src="~/assets/angular.min.js"></script>
<script src="~/js/restaurant-controller.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
    getOneRestaurantData(@ViewBag.Id);
</script>
<link href="~/css/bookpagestyle.css" rel="stylesheet" />
<link href="~/css/default.css" rel="stylesheet" />
<link href="~/css/default.time.css" rel="stylesheet" />
<link href="~/css/pikaday.css" rel="stylesheet" />
<div class="container" ng-app="restaurantApp" ng-controller="oneRestaurantController">
    <div class="jumbotron">
        <h2>Jus rezervuojates staliuka "{{ restaurant.RestaurantName }}" restorane!</h2>
    </div>
    <div class="row margin_left">
        <div class="tableChooser col-md-5">
            <input style="display:none" value="{{ restaurant.Id}}"/> 
            <h3 class="inline"> Staliuko vietu skaicius: </h3>
            <div class="selectTableSeat inline">
                <select class="number">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected="selected">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <textarea class="form-control text" placeholder="Daugiau informacijos restoranui"></textarea>
            <input class="form-control" type="button" value="Užsakyti" />
        </div>
        <div class="col-md-2">
            <input placeholder="Jūsų pasirinkta data" type='text' class="form-control" id='datepicker'>
            <input placeholder="Pasirinkite laiką" type="text" class="form-control" id="timepicker" />
            <p> Is viso vietu:</p>
            <p> Laisvu vietu skaicius:</p>
        </div>
        <div class="col-md-3 zeroPadding">
            <div id="container"></div>
        </div>
    </div>
</div>
<script src="~/assets/picker.js"></script>
<script src="~/assets/moment/moment.js"></script>
<script src="~/assets/pikaday.js"></script>
<script src="~/assets/picker.time.js"></script>
<script src="~/js/calendarcall.js"></script>
