@model ImkStala.Web.ViewModels.Home.BookRestaurantTableViewModel
@{
    ViewData["Title"] = "Rezervacija";
}
<script src="~/assets/jquery.min.js"></script>
<script src="~/assets/angular.min.js"></script>
<script src="~/assets/ng-infinite-scroll.js"></script>
<script src="~/js/restaurant-controller.js"></script>

<script>
    getOneRestaurantData(@ViewBag.Id);
</script>
<link href="~/css/bookPageStyle.css" rel="stylesheet" />
<link href="~/css/default.css" rel="stylesheet" />
<link href="~/css/default.time.css" rel="stylesheet" />
<link href="~/css/pikaday.css" rel="stylesheet" />
<div class="container" ng-app="restaurantApp" ng-controller="oneRestaurantController">
    <div class="jumbotron">
        <h2>Jūs rezervuojate staliuką "{{ restaurant.RestaurantName }}" restorane!</h2>
    </div>
    <div class="row margin_left">
        <form asp-controller="Home" asp-action="Book" method="post" role="form">
            <div class="tableChooser col-md-5">
                <input asp-for="RestaurantId" style="display: none" value="{{ restaurant.Id}}" />
                <h3 class="inline"> Staliuko vietų skaičius: </h3>
                <div class="selectTableSeat inline">
                    <select asp-for="RestaurantTableSeats" class="number" ng-model="data.selectedTable" ng-change="changed()">
                        <option selected ng-repeat="table in uniqueTables"> {{ table }} </option>
                    </select>
                </div>
                <textarea asp-for="VisitorMessage" class="form-control text" placeholder="Daugiau informacijos restoranui"></textarea>
                <button class="form-control" type="submit">Užsakyti</button>
            </div>
            <div class="col-md-2">
                <input asp-for="Date" placeholder="Jūsų pasirinkta data" type='text' class="form-control" id='datepicker'>
                <input asp-for="Time" placeholder="Pasirinkite laiką" type="text" class="form-control" id="timepicker" />
                <p style="color:white;"> Iš viso{{ data.selectedTable }}-iečių staliukų: {{ exactTableCount }}</p>
                <p style="color:white;"> Laisvų skaičius:</p>
            </div>
            <div class="col-md-3 zeroPadding">
                <div id="container"></div>
            </div>
        </form>



    </div>
</div>
<script src="~/assets/picker.js"></script>
<script src="~/assets/moment/moment.js"></script>
<script src="~/assets/pikaday.js"></script>
<script src="~/assets/picker.time.js"></script>
<script src="~/js/calendarcall.js"></script>
