@{
    ViewData["Title"] = "Home Page";
}
<script src="~/assets/jquery.min.js"></script>
<script src="~/assets/angular.min.js"></script>
<script src="~/assets/ng-infinite-scroll.js"></script>
<script src="~/js/restaurant-controller.js"></script>

<div class="row">
    <div class="col-md-3">
        <div class="profileInfo">
            <h1 class="styledHeader"> Profile </h1>
            <hr />
            <nav>
                <ul>
                    <li><a href="">My reservation history</a></li>
                    <li><a href="">My favorite restaurants</a></li>
                    <li><a href="">My rated restaurants</a></li>
                    <li><a href="">Book</a></li>
                </ul>
            </nav>
        </div>
        <div class="topRest">
            <h1 class="infoHeader"> Top 3</h1>
            <hr />
            <div class="miniRestaurant">
                <h2 class="styledHeader"> Pavadinimas</h2>
                <div class="row buttonRow">
                    <div class="col-md-12">
                        <a class="infoButton col-md-4" href="{{ restaurant.Id }}"> More info! </a>
                        <a class="bookButton col-md-4" href="book/{{ restaurant.Id }}"> Book! </a>
                        <a class="favoriteButton col-md-4" href="favorite/{{ restaurant.Id }}"> Favorite!</a>
                    </div>
                </div>
            </div>
            <div class="miniRestaurant">
                <h2 class="styledHeader"> Pavadinimas</h2>
                <div class="row buttonRow">
                    <div class="col-md-12">
                        <a class="infoButton col-md-4" href="Restaurant/{{ restaurant.Id }}"> More info! </a>
                        <a class="bookButton col-md-4" href="Book/{{ restaurant.Id }}"> Book! </a>
                        <a class="favoriteButton col-md-4" href="Favorite/{{ restaurant.Id }}"> Favorite!</a>
                    </div>
                </div>
            </div>
            <div class="miniRestaurant">
                <h2 class="styledHeader"> Pavadinimas</h2>
                <div class="row buttonRow">
                    <div class="col-md-12">
                        <a class="infoButton col-md-4" href="Restaurant/{{ restaurant.Id }}"> More info! </a>
                        <a class="bookButton col-md-4" href="Book/{{ restaurant.Id }}"> Book! </a>
                        <a class="favoriteButton col-md-4" href="Favorite/{{ restaurant.Id }}"> Favorite!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="restaurants" ng-app="restaurantApp" ng-controller="infiniteScrollRestaurants">
            <input style="width:100%" id="searchBar" type="text" ng-change="searchChanged()" ng-model="searchKey" />
            <div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
                <div class="restaurant" ng-repeat="restaurant in restaurants">
                    <h2 class="styledHeader"> {{ restaurant.RestaurantName }} </h2>
                    <hr />
                    <div class="description">
                        <p> { restaurant.Description } Aprasyyymas Aprasyyymas AprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymas </p>
                    </div>
                    <hr />
                    <div class="row buttonRow">
                        <div class="col-md-12">
                            <a class="infoButton col-md-4" href="/Home/Restaurant/{{ restaurant.Id }}"> More info! </a>
                            <a class="bookButton col-md-4" href="/Home/Book/{{ restaurant.Id }}"> Book! </a>
                            <a class="favoriteButton col-md-4" href="/Favorite/{{ restaurant.Id }}"> Add to favorite!</a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>