@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="row" ng-app="restaurantApp">
    @if (TempData["Success"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
    }
    <div class="col-md-3" ng-controller="topRestaurantsController">
        <div class="topRest">
            <h1 class="infoHeader"> Top 3</h1>
            <hr />
            <div class="miniRestaurant" ng-repeat="restaurant in toprestaurants">
                <h2 class="styledHeader"> {{restaurant.RestaurantName}}</h2>
                <div class="row buttonRow">
                    <div class="col-md-12">
                        @if (User.IsSignedIn() && User.IsInRole("Visitor"))
                        {
                            <a class="infoButton col-md-4" href="/Home/Restaurant/{{ restaurant.Id }}"> Informacija </a>
                        }
                        else
                        {
                            <a class="infoButton col-md-12" href="/Home/Restaurant/{{ restaurant.Id }}"> Informacija </a>
                        }
                        @if (User.IsSignedIn() && User.IsInRole("Visitor"))
                        {
                            <a class="bookButton col-md-4" href="/Home/Book/{{ restaurant.Id }}"> Rezervuoti </a>
                            <a class="favoriteButton col-md-4" href="/"> Pamėgti </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="restaurants" ng-controller="infiniteScrollRestaurants">
            <input style="width:100%" class="search" id="searchBar" type="text" ng-change="searchChanged()" placeholder="Paieška pagal pavadinimą" ng-model="searchKey" />
            <div infinite-scroll='loadMore()' infinite-scroll-distance='0'>
                <div class="restaurant" ng-repeat="restaurant in restaurants">
                    <h2 class="styledHeader"> {{ restaurant.RestaurantName }} </h2>
                    <hr />
                    <div class="description">
                        <p>{{ restaurant.Description }}</p>
                    </div>
                    <hr />
                    <div class="row buttonRow">
                        <div class="col-md-12">
                            @if (User.IsSignedIn() && User.IsInRole("Visitor"))
                            {
                                <a class="infoButton col-md-4" href="/Home/Restaurant/{{ restaurant.Id }}"> Informacija </a>
                            }
                            else
                            {
                                <a class="infoButton col-md-12" href="/Home/Restaurant/{{ restaurant.Id }}"> Informacija </a>
                            }
                            @if (User.IsSignedIn() && User.IsInRole("Visitor"))
                            {
                                <a class="bookButton col-md-4" href="/Home/Book/{{ restaurant.Id }}"> Rezervuoti </a>
                                <form asp-controller="Home" asp-action="Favorite" method="post" role="form">
                                    <input type="hidden" name="id" value="{{ restaurant.Id }}" />
                                    <input type="submit" class="favoriteButton col-md-4" value="Pamėgti"> 
                                </form>
                            }
</div>
                    </div>
                </div>
            </div>
            <div ng-if="restaurants.length==0">
                <h2 style="color:white;"> Nepavyko rasti restoranų </h2>
            </div>
         </div>
    </div>
    <div class="col-md-4">
        <div id="googleMap" class="map"></div>
    </div>
</div>

@section scripts {
    <script src="~/js/restaurant.js"></script>
    <script src="~/assets/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="~/js/indexmap.js"></script>
}