@{
    ViewData["Title"] = "Apie restoraną";
}
<script src="~/assets/jquery.min.js"></script>
<script src="~/assets/angular.min.js"></script>
<script src="~/assets/ng-infinite-scroll.js"></script>
<script src="~/js/restaurant-controller.js"></script>
<link href="~/css/bookPageStyle.css" rel="stylesheet" />
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="~/js/site.js"></script>
<script>
    getOneRestaurantData(@ViewBag.Id);
    var address = getAdressById(@ViewBag.Id);
    loadMapByAddress(address);
</script>

<div class="row">
    <div class="col-md-3">
        <div class="profileInfo">
            <h1 class="styledHeader"> Profilis </h1>
            <hr />
            <nav>
                <ul>
                    <li><a href="">Mano rezervacijų istorija</a></li>
                    <li><a href="">Mano mėgstami restoranai</a></li>
                    <li><a href="">Mano įvertinti restoranai</a></li>
                    <li><a href="">Rezervuoti</a></li>
                </ul>
            </nav>
        </div>
        <div class="topRest">
            <h1 class="infoHeader"> Top 3</h1>
            <hr />
            <div class="miniRestaurant">
                <h2 class="styledHeader"> Pavadinimas</h2>
                <div class="row buttonRow">
                    <div class="col-md-12">
                        <a class="infoButton col-md-4" href="Restaurant/{{ restaurant.Id }}"> Informacija </a>
                        <a class="bookButton col-md-4" href="Book/{{ restaurant.Id }}"> Rezervuoti </a>
                        <a class="favoriteButton col-md-4" href="Favorite/{{ restaurant.Id }}"> Pamėgti </a>
                    </div>
                </div>
            </div>
            <div class="miniRestaurant">
                <h2 class="styledHeader"> Pavadinimas</h2>
                <div class="row buttonRow">
                    <div class="col-md-12">
                        <a class="infoButton col-md-4" href="Restaurant/{{ restaurant.Id }}"> Informacija </a>
                        <a class="bookButton col-md-4" href="Book/{{ restaurant.Id }}"> Rezervuoti </a>
                        <a class="favoriteButton col-md-4" href="Favorite/{{ restaurant.Id }}"> Pamėgti </a>
                    </div>
                </div>
            </div>
            <div class="miniRestaurant">
                <h2 class="styledHeader"> Pavadinimas</h2>
                <div class="row buttonRow">
                    <div class="col-md-12">
                        <a class="infoButton col-md-4" href="Restaurant/{{ restaurant.Id }}"> Informacija </a>
                        <a class="bookButton col-md-4" href="Book/{{ restaurant.Id }}"> Rezervuoti </a>
                        <a class="favoriteButton col-md-4" href="Favorite/{{ restaurant.Id }}"> Pamėgti </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="restaurants" ng-app="restaurantApp" ng-controller="oneRestaurantController">
            <div class="restaurant">
                <h2 class="styledHeader"> {{ restaurant.RestaurantName }} </h2>
                <hr />
                <div class="description">
                    <p><span>Apie restoraną:</span></p>
                    <p class="restaurantInfo"> { restaurant.Description } Aprasyyymas Aprasyyymas AprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymasAprasyyymas </p>
                </div>
                <p class="restaurantInfo"><span>Adresas:</span> {{ restaurant.Adress }} </p>
                <p class="restaurantInfo"><span>Telefono numeris:</span> {{ restaurant.PhoneNumber }}</p>
                <p class="restaurantInfo"><span>Elektroninis paštas:</span> {{ restaurant.Email }}</p>
                <a href="{{ restaurant.Website }}" target="_blank"> Apsilankykite restorano svetainėje</a>
                <div class="rating">
                    <form>
                        <input type="radio" id="form_rating_4" required="required" class="radio_item" value="5" />
                        <input type="radio" id="form_rating_3" required="required" class="radio_item" value="4" />
                        <input type="radio" id="form_rating_2" required="required" class="radio_item" value="3" />
                        <input type="radio" id="form_rating_1" required="required" class="radio_item" value="2" />
                        <input type="radio" id="form_rating_0" required="required" class="radio_item" value="1" />
                        @{
                            for (int i = 1; i < 6; i++)
                            {
                                int k = i - 1;
                                <label id="@i " class="label_item" for="form_rating_@k"> <span>&#9734</span> </label>
                            }
                        }
                    </form>
                </div>
                <div id="googleMap" style="height:300px;">

                </div>
                <hr />
                <div class="row buttonRow">
                    <div class="col-md-12">
                        <a class="bookButton col-md-6" asp-controller="Home" asp-action="Book" asp-route-id="@ViewBag.Id"> Rezervuoti </a>
                        <a class="favoriteButton col-md-6" href="Favorite/{{ restaurant.Id }}"> Pamėgti </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>