.tableChooser
{
    background-color:white;
    padding:15px;
    border-radius:10px;
}

.margin_left
{
    margin-left:20px;
}

.inline
{
    float:left;
}

h3
{
    margin-top:10px;
}

.text
{
    margin-bottom:10px;
}

.zeroPadding
{
    padding:0px;
}
