.tableChooser
{
    background-color:white;
    padding:15px;
    border-radius:10px;
}

.margin_left
{
    margin-left:20px;
}

.inline
{
    float:left;
}

h3
{
    margin-top:10px;
}

.text
{
    margin-bottom:10px;
}

.zeroPadding
{
    padding:0px;
}

.jumbotron
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background: none;
}

p > span
{
    color: red;
}

.restaurantInfo
{
    color: green;
    font-style: italic;
}