body {
    background-image: url("/images/hamburger.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:50px;
}

.head{
    background-color:aliceblue;
}

.navbar
{
    z-index: 1;
    width: 100%;
    display: block;
    background-color: orange;
}

.navbar-brand
{
    font-family: Britannic;
    font-style: italic;
}

nav div ul li
{
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color 1.5s ease;
}


nav div ul li a
{
    transition: all 1.5s;
    border-style:solid;
    border-width:0px;
    color:darkblue;
    transition-property: font-size, border-width, color;
}

nav div ul li:hover
{
    background-color:aquamarine;
}

nav div ul li:hover a
{
    border-bottom-width:1px;
    color:aquamarine;
}

.navbar .nav > li > a {
    line-height: 19px;
    text-decoration: none;
    color:teal;

}

.action-button
{
    border-style:solid;
    border-width:2px;
    margin-left:3px;
    padding:0px;
    border-color:cadetblue;
}

.action-button:hover
{
    background-color:wheat;
}

.navbar .nav > li > a.noPadding
{
    padding:9px;
}

@media screen and (min-width: 768px) {
	
	#registerModal .modal-dialog  {width:900px;}
}

#registerModal .modal-body
{
    height:500px;
}

#registerModal .modal-body > div > div
{
    height: 450px;
    background-color:gainsboro;
    border-width:1px;
    border-style:solid;
    border-color:lightsteelblue;
    transition: background-color 1s ease-in-out;
}

#registerModal .modal-body > div > div:hover
{
    background-color:aqua;
    cursor:pointer;
}

.closeButton
{
    width:100%;
    background-color:indianred;
    transition: background-color 1.5s ease;
}

.closeButton:hover
{
    background-color:red;
}

.container
{
    width:100%;
    padding:0px;
}

div.picker
{
    float:left;
}

select
{
    height:40px;
}

input
{
    height:40px;
}

.picker
{
    border-width:0px;
    border-style:solid;
    border-color:aqua;
}

.picker:hover
{
    color:brown;
}

.submitButton
{
    width:100px;
    background-color:palevioletred;
    transition: background-color 1s ease;
    height:40px;
    color:white;
    border-color:lightcoral;
}

.submitButton:hover
{
    background-color:red;
}

.footer
{
   width:100%;
   height:100px;  
   background-color:orange;
   clear: both;
}

.showInline
{
    display:inline;
}

.loginForm
{
    background-color:white;
    padding:20px;
    border-radius:15px;
    margin-left:20px;
}

.registerForm
{
    background-color:white;
    border-radius:15px;
    padding:20px;
    margin-left:20px;
    margin-right:20px;
}

hr
{
    margin-top:0px;
}

.formInfo
{
    text-align:center;
    color:white;
}

.col-md-3, .col-md-9
{
    padding:20px;
}

.profileInfo
{
    background-color:white;
    border-radius:20px;
    padding:0px 20px 20px 20px;
}

.profileInfo nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFAFA;
}

.profileInfo nav ul li {
    margin:5px;
    text-align:center;
    border:1px solid;
    border-radius:5px;
    background-color:#F8F8FF;
}

.profileInfo nav ul li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-family:Aharoni;
    transition: 1s all;
}

.profileInfo nav ul li a.active {
    background-color: #4CAF50;
    color: white;
}

.profileInfo nav ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.restaurant
{
    width:100%;
    background-color:white;
    margin:20px 0px 20px 0px;
    padding:5px;
}

.description
{
    word-wrap:break-word;
}

.bookButton
{
    background-color:#C1ECFA;
    transition: 1.5s all;
    color: #062725;
    padding:10px;
    transition: 2s all;
    text-align: center;
}

.favoriteButton
{
    background-color:#7FFFD4;
    border:0px;
    transition: 1.5s all;
    color: #062725;
    padding:10px;
    text-align: center;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

.infoButton
{
    border:0px;
    transition:1.5s all;
    background-color:lightyellow;
    color: #062725;
    padding:10px;
    text-align: center;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
}

.bookButton:hover
{
    background-color:orange;
    text-decoration:none;
}

.favoriteButton:hover
{
    background-color:#7FFF00;
    text-decoration:none;
}

.infoButton:hover
{
    background-color:yellow;
    text-decoration:none;
}

.miniRestaurant
{
    padding:20px;
    background-color:azure;
    margin:10px 0px 10px 0px;
    border-radius: 10px;
}

.styledHeader
{
    margin-top:0px;
    text-align:center;
    font-family:'Book Antiqua';
}

.infoHeader
{
    color:white;
    text-align:center;
}

.col-md-6
{
    color: black;
}

.col-md-8
{
    padding-top:20px;
}

.restaurant
{
    border-radius:20px;
    padding:15px;
}

.row
{
    margin:0px;
}

#registerModal .modal-body > div > div
{
    background-image: url("/images/client.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    opacity: 0.3;
    transition: opacity 1s;
}

#registerModal .modal-body > div > div:hover
{
    opacity: 1;
}

#registerModal .modal-body > div > div:nth-child(2) 
{
    background-image: url("/images/restaurant.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

.rating
{
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating label
{
    display: inline-block;
    position: relative;
    font-size:75px;
}

.rating label:hover:before,
.rating label:hover ~ label:before
{
    content: "\2605";
    position: absolute;
    cursor: pointer;
    color: yellow;
}

.radio_item
{
    display: none !important;
}
