@using System.Security.Claims

@if (User.IsSignedIn())
{
    if (User.IsInRole("Visitor"))
    {
        <li><a asp-controller="Visitor" asp-action="EditVisitorProfile">Profilis</a></li>
    }
    else if (User.IsInRole("Restaurant"))
    {
        <li><a asp-controller="Restaurant" asp-action="EditRestaurantProfile">Profilis</a></li>
        <li><a asp-controller="Restaurant" asp-action="Orders">Užsakymai</a></li>
        <li><a asp-controller="Restaurant" asp-action="ViewTables">Staliukai</a></li>
    }
}

