@using System.Threading.Tasks
@using ImkStala.Web.ViewModels.Manage
@model ImkStala.Web.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = "Slaptažodžio keitimas";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal registerForm" role="form">
    <h4>Užpildykite reikiamus laukelius</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label">Esamas slaptažodis*</label>
        <div class="col-md-5">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label">Naujas slaptažodis*</label>
        <div class="col-md-5">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">Patvirtinkite slaptažodį*</label>
        <div class="col-md-5">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <button type="submit" class="btn btn-default">Pakeisti slaptažodį</button>
        </div>
    </div>
    <p style="color: red">*- privalomi laukeliai</p>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
