@model ImkStala.Web.ViewModels.Manage.IndexViewModel
@{
    ViewData["Title"] = "Slaptažodžio keitimas";
}

<h2>@ViewData["Title"]</h2>


<div class="form-horizontal registerForm">
    <p class="text-success">@ViewData["StatusMessage"]</p>
</div>
