@model ImkStala.Web.ViewModels.Home.BookRestaurantTableViewModel
@{
    ViewData["Title"] = "Užsakymai";
}
<script src="~/assets/jquery.min.js"></script>
<script src="~/assets/angular.min.js"></script>
<script src="~/assets/ng-infinite-scroll.js"></script>
<script src="~/js/restaurant-controller.js"></script>

<script>
    getReservedTables(@ViewBag.Id);
</script>
<table class="table" style="color:white; background-color:black;" ng-app="restaurantApp" ng-controller="oneRestaurantController">
    <thead>
        <tr>
            <th>Staliuko vietu skaicius</th>
            <th>Atvykimo data</th>
            <th>Isvykimo data</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="table in reservedTables">
            <td> {{ table.RestaurantTableSeats }}</td>
            <td> {{ table.Reservations[0].ReservationStartDateTime }}</td>
            <td> {{ table.Reservations[0].ReservationEndDateTime }}</td>
        </tr>
    </tbody>
</table>